<%= link_to "Audios", audios_path,class: "link" %>
<%= link_to "Add Mp3", new_audio_path,class: "link" %>
<%= form_tag audios_path, :method => 'get' ,class: "searchform" do  %>
   <%= text_field_tag :search, params[:search],class: "searchfield",placeholder: "Search by Album, Artist, Title" %>
    <%= submit_tag "Search",class: "searchbutton" %>
<% end %>

<% if @audios.any? %>
  <div class="CSSTableGenerator" >
    <table >
      <tr>
        <td>Album</td>
        <td>Artist</td>
        <td >Title</td>
        <td>Track No</td>
      </tr>
      <%@audios.each do |audio|%>			
        <tr>
          <td><%= audio.album%></td>
          <td><%= audio.artist%></td>
          <td><%= audio.title%></td>
          <td><%= audio.track%></td>
        </tr>
      <%end%>
    </table>
  </div>
<%else%>
<div class="empty-list">
  <span>Oops! Audio list is empty</span>
</div>
<%end%>